<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GardeApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>Controllers.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>Controllers.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>Controllers.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercherParNomServlet</display-name>
    <servlet-name>RechercherParNomServlet</servlet-name>
    <servlet-class>Controllers.RechercherParNomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercherParNomServlet</servlet-name>
    <url-pattern>/RechercherParNomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercherParNomPrenomServlet</display-name>
    <servlet-name>RechercherParNomPrenomServlet</servlet-name>
    <servlet-class>Controllers.RechercherParNomPrenomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercherParNomPrenomServlet</servlet-name>
    <url-pattern>/RechercherParNomPrenomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByMatriculServlet</display-name>
    <servlet-name>SearchByMatriculServlet</servlet-name>
    <servlet-class>Controllers.SearchByMatriculServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByMatriculServlet</servlet-name>
    <url-pattern>/SearchByMatricul</url-pattern>
    <url-pattern>/SearchByMatricul.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexPageServlet</display-name>
    <servlet-name>IndexPageServlet</servlet-name>
    <servlet-class>Controllers.IndexPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPageServlet</servlet-name>
    <url-pattern>/IndexPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheParMatricule</display-name>
    <servlet-name>RechercheParMatricule</servlet-name>
    <servlet-class>Controllers.RechercheParMatricule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheParMatricule</servlet-name>
    <url-pattern>/RechercheParMatricule</url-pattern>
  </servlet-mapping>
</web-app>